 /*.appTabAcitive {*/
   /*color: var(--primary);*/
   /*border-bottom: 4px solid var(--primary);*/
/*} */

.margin16 {
   margin: 0 0 32px 0;
}

.pageContent {
   display: flex;
   justify-content: space-evenly;
   padding: 16px 50px;
   font-size: 14px;
}

.pageContent span {
   padding: 0 4px 4px;
   font-size: 28px;
}
.pageContent .card {
   box-shadow: 0 0 17px rgba(20,19,51,.1);
   background-color: #fff;
   border-radius: 5px;
   padding: 6px 30px;
}

.cardHEADER {
   padding: 8px 25px;
   font-size: 28px;
   color:  var(--primary--title);
}

.cardHEADER span {
   font-size: 28px;
}

.listData {
   font-size: 28px;
   display: flex;
   justify-content: space-between;
}

.listData span {
   padding: 8px 0px;
}

.md-field {
   padding: 0;
}

.mu-secondary-text-color {
   color: var(--primary);
}

.inspectionCheck .footer {
   font-size: 28px;
   border-top: 1px solid  var(--primary--line);
   padding: 20px 0px;
}

.inspectionCheck .cardText p {
   line-height: 30px;
   letter-spacing: 1px;
   text-align: center;
}

.cardHEADER {
    padding: 8px 25px;
    font-size: 14px;
    color:  var(--primary--title);
}
.md-field{
    padding: 0px !important;
}
.inspectionCheck .md-field-item-control{
    font-size: 28px !important;
}
.inspectionCheck .md-popup-title-bar .title-bar-title p.title{
    font-size: 31px !important;
}
.inspectionCheck .md-cell-item-content{
    font-size: 28px !important;
}
.inspectionCheck .md-button.block{
    height: 80px;
    margin: 20px 0px;
}
.inspectionCheck .first,.submitOrder .first,.acceptAdd .first{
    border: 2px solid var(--primary);
    border-radius: 10px;
    color: var(--primary);
    padding: 2px 6px;
    height: 52px;
    line-height: 52px;
    font-size: 22px;
}
.headCard{
    display:flex;
    justify-content: flex-end;
    height: 64px;
    line-height: 46px;
/*}*/
/*=======*/
   /*padding: 8px 25px;*/
   /*font-size: 14px;*/
   /*color:  var(--primary--title);*/
}

.md-field {
   padding: 0px !important;
}

.inspectionCheck .md-field-item-control {
   font-size: 28px !important;
}

.downImg img {
   width: 26px !important;
   height: 14px !important;
   margin-left: 10px;
}

.inspectionCheck .primary,
.inspectionCheck .default {
   background-color: var(--primary) !important;
   color: #fff !important;
   font-size: 28px;
}

.inspectionCheck .primary:after {
   border: 1px solid var(--primary) !important;
}

.inspectionCheck .default {
   background-color: #43484b !important;
}

.inspectionCheck .default:after {
   border: 1px solid #43484b !important;
}

.md-popup-title-bar .title-bar-title p.title {
   font-size: 36px !important;
}

.md-cell-item-content {
   font-size: 28px !important;
}
