input {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font-weight: normal;
   vertical-align: baseline;
}

.oc_val {
   /* position: fixed; */
   width: 95%;
   height: 45px;
   border-radius: 5px;
   left: 0;
   right: 0;
   margin: 0 auto;
   padding-left: 35px;
   background: #f0f3fa url(./search.png) 3% 50% no-repeat !important;
   background-size: auto 50% !important;
   opacity: 1;
   outline: none;
   font-size: 12px !important;
   color: #000;
   z-index: 999;
}

.mu-sub-header {
   font-size: 28px;
   color: #1976d2;
}

.holder img {
   height: 92px;
   width: 92px;
   border-radius: 50%;
}