.idCard{
   padding: 0 10px;
}
.id-title{
   background-color: #F2F2F2;
   padding: 10px 5px;
   color: #A1A1A1;
   border-bottom: 1px solid #CCCCCC;
}
.id-photo{
   padding: 20px 0;
   display: flex;
   justify-content:space-around;
   align-items:center;
}
.photo{
   width: 100px;
   height: 100px;
   line-height: 100px;
   text-align: center;
   font-size: 60px;
   color: #EFEFEF;
   border: 2px solid #EFEFEF;
}
.photo img{
   width: 100%;
   height:100%
}
.id-photo input{
   position: absolute;
   opacity: 0;
   width: 100px;
}
.pos-btn{
   margin-top: 10px;
   padding: 5px;
   background-color: #00824F;
   border-radius: 5px;
   color: #C4E2D6;
   text-align: center;
}
.btn{
   background-color: #00824F;
   color: #C4E2D6;
}
.slt{
   margin-top: 20px;
   padding: 0 10px;
}
.slphoto{
   display: flex;
   justify-content:space-around;
   align-items:center;
}