.aui-navBar {
   height: 100px;
   position: fixed;
   display: flex;
   z-index: 9999;
}

header {
   background: #e2e2e2;
   z-index: 9999;
}

.aui-navBar-item {
   height: 100px;
   min-width: 25%;
   -webkit-box-flex: 0;
   -webkit-flex: 0 0 25%;
   -ms-flex: 0 0 25%;
   flex: 0 0 25%;
   padding: 0 24px;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   font-size: 36px;
   white-space: nowrap;
   overflow: hidden;
   color: #333333;
}

.aui-navBar-item:first-child {
   -webkit-box-ordinal-group: 2;
   -webkit-order: 1;
   -ms-flex-order: 1;
   order: 1;
   margin-right: -25%;
}

.aui-navBar-item:last-child {
   -webkit-box-ordinal-group: 4;
   -webkit-order: 3;
   -ms-flex-order: 3;
   order: 3;
   -webkit-box-pack: end;
   -webkit-justify-content: flex-end;
   -ms-flex-pack: end;
   justify-content: flex-end;
}

.aui-navBar-item img {
   width: 26px;
   height: 46px;
}

.article .aui-center {
   -webkit-box-ordinal-group: 3;
   -webkit-order: 2;
   -ms-flex-order: 2;
   order: 2;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   height: 100px;
   width: 50%;
   margin-left: 25%;
}

.article .aui-center span {
   font-size: 36px;
}

.article .aui-center-title {
   text-align: center;
   width: 100%;
   white-space: nowrap;
   overflow: hidden;
   display: block;
   text-overflow: ellipsis;
   font-size: 36px;
   color: #333333;
}

header {
   display: flex;
   width: 100%;
   height: 100px;
   text-align: center;
   top: 0px;
   left: 0px;
   position: fixed;
   z-index: 19;
   background: #fff;
   /* border-bottom: 1px solid #c0c0c0; */
   box-sizing: border-box;
   z-index: 9999;
}

.addValue {
   font-size: 30px;
   color: #333333;
   font-family: "PingFang-SC-Medium";
}

.back img,
.share img {
   width: 100%;
   height: 100%;
}

.pingjia {
   font-size: 30px;
   font-family: "PingFang-SC-Medium";
   /* line-height: 100px; */
}

.comment-info {
   position: relative;
   margin-bottom: 20px;
   margin-top: 20px;
   border-bottom: 1px solid #e0e0e0;
}

.comment-info .header {
   width: 98px;
   position: absolute;
}

.comment-info .header img {
   width: 100%;
   border-radius: 50%;
   padding: 5px;
}

.comment-info .comment-right {
   padding: 10px 0px 30px 108px;
}
 