
.submitOrder .submitUser{
    display: flex;
    justify-content: space-between;
    line-height: 44px;
}
.submitOrder .submitUser .iconInfo .userInfo
{
    margin-left: 20px;
}
.submitOrder .submitUser .iconInfo{
    display: flex;
    width: 100%;
}
.submitOrder .submitUser .userInfo div span:not(:last-child){
    padding-right: 20px;
}
.submitOrder .addImg{
    display: flex;
    align-items: center;
    width: 16%;
}
.submitOrder .addImg .medImg{
    width: 100%;
}
.submitOrder .addPic{
    width: 32px;
}
.submitOrder .nextImg{
    justify-content: flex-end;
}
.submitOrder .med{
    display: flex;
}
.submitOrder .medRight{
    width: 100%;
    margin-left: 14px;
}
.submitOrder .medInfo,.submitOrder .onlinePay div{
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}
.submitOrder .storeName{
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 12px 0;
}
.grayButton span{
    margin: 0 auto;
}
.submitOrder .smallTotal{
    text-align: right;
    padding: 12px 0;
}
.submitOrder .smallTotal span:first-child{
    margin-right: 20px;
}
.submitOrder .iconImg{
    display: flex;
    align-items: center;
}
.submitOrder .storeInfo{
    margin-left: 16px;
}
.submitOrder .storeInfo .myStore{
    display: flex;
}
.submitOrder .outCarint{
    padding: 16px 30px;
}
.submitOrder .addbTN{
   display: flex;
    background-color: transparent;
    justify-content: space-between;
}
.submitOrder .addbTN span{

}
.submitOrder .addbTN span span:first-child{
    color: var(--primary--title);
}
.submitOrder .orderSubmit{
    border-radius: 60px;
    width: 30%;
    height: 80px;
    line-height: 80px;
    margin-top: 14px;
    background-color: #1da1f3;
}
