.submitOrder .cardText{
    padding:15px 0px;
}
.submitOrder .submitUser{
    display: flex;
    justify-content: space-between;
}
.submitOrder .submitUser .iconInfo .userInfo{
    margin-left: 10px;
}
.submitOrder .submitUser .iconInfo{
    display: flex;
    width: 100%;
}
.submitOrder .submitUser .userInfo div span:not(:last-child){
    padding-right: 20px;
}
.submitOrder .addImg{
    display: flex;
    align-items: center;
    width: 16%;
}
.submitOrder .addImg .medImg{
    width: 100%;
}
.submitOrder .addImg .addPic{
    width: 60%;
}
.submitOrder .nextImg{
    justify-content: flex-end;
}
.submitOrder .med{
    display: flex
}
.submitOrder .medRight{
    width: 100%;
    margin-left: 14px;
}
.submitOrder .medInfo,.submitOrder .onlinePay div{
    display: flex;
    justify-content: space-between;
}
.submitOrder .storeName{
    font-size: 30px;
    font-weight: bold;
}
.grayButton{
    width: 740px;
}
.grayButton span{
    margin: 0 auto;
}
.submitOrder .smallTotal{
    text-align: right;
}
.submitOrder .smallTotal span:first-child{
    margin-right: 20px;
}
.submitOrder .iconImg{
    display: flex;
    align-items: center;
}
.submitOrder .storeInfo{
    margin-left: 16px;
}
.submitOrder .storeInfo .myStore{
    display: flex;
}