.recipeRecord .md-check-group,.recipeRecord .userInfo,.selectStore .userInfo{
    display: flex;
    justify-content: space-between;
}
.recipeRecord .moreGroup span{
    height: 66px;
    line-height: 66px;
    margin-left: 12px;
}
.recipeRecord .list span{
    font-size: 28px;
    font-weight: bold;
}
.recipeRecord .blod{
    font-weight: bold;
}
.recipeRecord .blod span{
    width: 30%;
}
.recipeRecord .blod span:nth-child(2){
    width: 19%;
    text-align: center;
}
.recipeRecord .blod span:last-child{
    text-align: right;
}
.recipeRecord .fold span{
    font-size: 28px;
    color:  var(--primary--content);
}
.foldImg img{
    width: 28px;
    margin: 0 auto;
}
.block{
    display: block;
}
.none{
    display: none;
}
.recipeRecord .selfButton{
    margin-bottom: 40px;
}
/deep/.md-icon.icon-font.md{
    font-size: 46px !important;
}
.userNum span{
    padding-top: 0px;
}
.recipeRecord .notFound{
    text-align: center;
    padding-top: 160px;
}
.recipeRecord .notFound p{
    color:  var(--primary--content);
    font-size: 32px;
    padding: 40px;
}
.bButton{
    display: flex;
}
.grayButton{
    display: inline-flex;
    background-color: #42484A;
    width: 240px;
    height: 100px;
    border-top-left-radius: 64px;
    border-bottom-left-radius: 64px;
}
.grayButton span{
    color: #fff;
    line-height: 100px;
    margin-left: 10px;
}
.blueButton{
    display: inline-block;
    background-color: var(--primary);
    width: 462px;
    height: 100px;
    border-top-right-radius: 64px;
    border-bottom-right-radius: 64px;
    text-align: center;
}
.blueButton span{
    height: 100px;
    line-height: 100px;
    color: #fff;
}
.recipeRecord .checkGroup{
    margin-left: 40px;
}
.recipeRecord .checkGroup span{
    margin-left: 12px;
}
.checkGroup .md-check{
    height: 92px;
    line-height: 92px;
}


.selfButton {
    width: 654px;
    height: 100px;
    background-color: var(--primary);
    border-radius: 60px;
}
.selfButton span {
    height: 100px;
    line-height: 100px;
    font-size: 28px;
    color: #fff;
}
.recipeRecord .leftPart .partLine{
    margin-top: 0px;
}
.recipeRecord .flatCard{
    border-top: none;
}

