.recordDetail .userInfo{
    display: flex;
    justify-content: space-between;
    text-align: center;
    line-height: 46px;
}
.recordDetail .hospital{
    text-align: center;
    font-weight: bold;
    font-size: 34px;
    margin-bottom: 20px;
}
.recordDetail .useAmount span:not(:first-child){
    padding-right: 22px;
}
.recordDetail .docTip span{
    padding: 0px;
}
.recordDetail .medName span{
    padding-top: 0px;
}
.recordDetail .listData{
    padding: 10px 0px;
}
.recordDetail .userSign .listData span{
    padding: 0px;
}
.recordDetail .flatCard{
    border-top: none;
}
