.lineupnow .flatCard:first-child{
   /*margin-top: 0;*/
   border-top: none;
}
.lineupnow .upnowHead{
   margin-top: 0;
   background-color: #ffffff;
   border-top: 1px solid #e9e9e9;
}
.lineupnow .titleh1 {
   font-size: 34px;
}
.lineupnow .cardText{
   padding: 14px 30px;
}
.lineupnow .cardText p {
   line-height: 60px;
   letter-spacing: 1px;
   font-size: 28px;
}

.lineupnow .cardText .cardTextPP {
   display: flex;
   justify-content: space-between;
}

.lineupnow .cardHEADER .lookonly {
   position: relative;
   top: 6px
}

.lineupnow .cardHEADER img {
   width: 52px;
}

.lineupnow .fleft {
   float: left;
   width: 50%;
}

.lineupnow .fleft span {
   top: -14px;
   position: relative;
   left: 14px;
}

.lineupnow .fright {
   float: right;
   width: 50%;
   text-align: right;
}

.lineupnow .fright .pingbi {
   /* top: -10px; */
   /* position: relative; */
   right: 5px;
}

.lineupnow .icon_more {
   width: 12px;
   position: relative;
   top: 2px;
}

.lineupnow .lineheight30 {
   line-height: 60px;
}

.lineupnow .cardText .learnMore {
   height: 60px;
   text-align: right;
   margin-top: -10px;
}

.lineupnow .swiper-container .headimg img {
   width: 100px;
   height: 100px;
   border-radius: 50%
}

.lineupnow .cardTextslider {
   padding: 22px 0;
}

.lineupnow .cardTextslider .titleh1 {
   line-height: 100px;
   position: relative;
   left: 30px;
}

.lineupnow .cardTextslider p {
   margin-top: 20px
}

.lineupnow .swiper-slide .card {
   margin-top: 10px;
}

 
.lineupnow .md-cell-item-body {
   padding: 0
}

.lineupnow .md-cell-item-body .cardText p {
   line-height: 20px;
}

.lineupnow .pingbi {
   position: relative;
   top: 0;
}

.lineupnow .md-switch {
   display: inline-block;
}

.lineupnow .md-switch.active {
   background-color: var(--primary);
}

.lineupnow .md-switch {
   position: relative;
   top: 7px;
}

.lineupnow .lineheight50 {
   line-height: 100px;
   font-size: 28px;
}

.lineupnow .appTitle {
   padding: 0.32rem 0;
}

/* 改变按钮大小 */

.lineupnow .md-switch {
   box-sizing: border-box;
   position: relative;
   width: 0.7rem;
   height: 0.34rem;
   border-radius: 0.48rem;
   background-color: #e2e4ea;
}

.lineupnow .md-switch:after {
   top: 0.03rem;
   left: 0.04rem;
   width: 0.29rem;
   height: 0.29rem;
   background-color: #fff;
   border-radius: 50%;
}

.lineupnow .md-switch:before {
   width: 0.7rem;
   height: 0.34rem;
   border-radius: 0.24rem;
}