.doctor {
   margin: 0 10px;
   font-size: 14px;
}

ul {
   list-style: none;
}

.doctor-head {
   padding: 24px 0;
}

.float-left {
   float: left;
}

.float-right {
   float: right;
}

.doctor-img {
   width: 140px;
   height: 140px;
   border-radius: 50%;
   overflow: hidden;
   margin-right: 20px;
   margin-top: 20px;
}

.doctor-img img {
   width: 100%;
   height: 100%
}

.doctor-name {
   font-weight: bold;
   font-size: 36px;
}

.doctor-tag {
   display: inline-block;
   color: #1976d2;
   font-size: 22px;
   padding: 4px 15px;
   line-height: 32px;
   border: 2px solid #1976d2;
   border-radius: 30px;
   position: relative;
   top: -5px;
}

.doctor-head:after {
   display: block;
   content: '';
   clear: both;
}

.heart {
   margin-right: 10px;
   margin-top: 60px;
   font-size: 32px;
   background: #1976d2;
   color: #ffffff;
   padding: 10px 40px;
   border-radius: 40px;
}

.doctor-cz {
   border-bottom: 5px solid #c5c5c5;
   border-top: 1px solid #c5c5c5;
}

.doctor-cz li {
   margin: 10px 0;
   width: 33%;
   text-align: center;
   float: left;
   border-left: 1px solid #c5c5c5;
}

.doctor-cz li:first-of-type {
   border-left: 0
}

.doctor-cz:after {
   display: block;
   content: '';
   clear: both;
}

.doctor-info {
   width: 100%;
   padding: 10px 0;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   border-bottom: 1px solid #c5c5c5;
}

.doctor-skill {
   margin: 10px 0;
}

.skill-head-title {
   font-size: 32px;
   font-weight: bold;
}

.skill-icon {
   font-size: 24px;
   cursor: pointer;
}

.doctor-skill:after {
   display: block;
   content: '';
   clear: both;
}

.skill-info {
   overflow: scroll;
   transition: all linear 0.5s;
   border-bottom: 1px solid #c5c5c5;
}

.source-tab {
   border-bottom: 1px solid #c5c5c5;
}

.source-tab:after {
   display: block;
   content: '';
   clear: both;
}

.source-tab div {
   width: 50%;
   text-align: center;
   font-size: 32px;
   height: 80px;
   line-height: 80px;
}

.available {
   border-right: 1px solid #c5c5c5;
}

.active-tab {
   color: #1976d2;
   border-bottom: 2px solid #1976d2;
}

.available-info:after {
   display: block;
   content: '';
   clear: both;
}

.available-info li {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid #c5c5c5;
}

.available-info li div {
   padding: 20px 0;
}

.available-info .available-tag {
   padding: 2px 17px;
   color: rgb(121, 119, 119);
   border-radius: 10px;
   border: 2px solid rgb(236, 239, 247);
}

.available-info .available-have {
   color: #1976d2;
   border: 2px solid #1976d2;
}

.doctor-inro {
   margin-top: 20px;
}

.doctor-inro .doctor-decrib p {
   line-height: 50px;
   font-size: 32px;
}