.doc_scheduling .doc_info {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: 10px 24px;
   font-size: 28px;
   color: #858585;
   background-color: #fff;
   border-bottom: 1px solid #e5e5e5;
}

.doc_scheduling .pic,
.doc_scheduling .pic img {
   display: inline-block;
   width: 102px;
   height: 102px;
   border-radius: 50%;
}

.doc_scheduling .pic,
.doc_scheduling .pic img {
   display: inline-block;
   width: 102px;
   height: 102px;
   border-radius: 50%;
}

.doc_scheduling .doc_info .detail {
   /* width: 68%; */
   flex: 1;
   margin-left: 20px;
   position: relative;
   overflow: hidden;
}

.doc_scheduling .doc_info .name {
   color: #333333;
}

.doc_scheduling .doc_info p {
   margin-bottom: 10px;
   width: 100%;
   margin-top: 5px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   overflow: hidden;
}

.doc_scheduling .doc_info p {
   margin-bottom: 10px;
   width: 100%;
   margin-top: 5px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   overflow: hidden;
}

/* /介绍 */

.doc_scheduling .doc_introduce {
   width: 100%;
   border-bottom: 1px solid #e5e5e5;
   background-color: #fff;
   padding: 20px 24px;
}

.doc_introduce .title {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 28px;
}

.doc_introduce .i_info {
   width: 28px;
   height: 30px;
   margin-right: 9px;
   vertical-align: middle;
   background: url(./info.png) no-repeat;
   background-size: 100% auto;
}

.doc_introduce .title .doc_info_txt {
   display: inline-block;
   width: 76%;
   flex: 1;
}

.doc_introduce .doc_open_btn {
   color: #969696;
}

.doc_introduce .doc_open_btn .i_open {
   width: 18px;
   height: 18px;
   margin-left: 10px;
   border-top: 1px solid #1da1f3;
   border-left: 1px solid #1da1f3;
   -webkit-transform: rotate(-135deg);
   transform: rotate(-135deg);
   vertical-align: middle;
   margin-top: -18px;
   display: inline-block;
}

.doc_introduce .doc_open_btn .nomore {
   transform: rotate(45deg);
   margin-top: 0px;
}

.doc_detail {
   display: block;
   padding: 20px 24px;
   height: auto;
   line-height: 44px;
   color: #666666;
   font-size: 28px;
   overflow: hidden;
   background-color: #fff;
}

.doc_scheduling .line {
   content: '';
   display: block;
   width: 100%;
   height: 10px;
}

.doc_scheduling .yy_date_today {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 24px;
   height: 80px;
   font-size: 28px;
   border-top: 1px solid #e5e5e5;
   border-bottom: 1px solid #e5e5e5;
   background-color: #fff;
}

/*  */

.current {
   /*display: inline-block;*/
   /*width: 80px;*/
   /*height: 80px;*/
   /*padding: 2px 0 0;*/
   /*text-align: center;*/
   /*font-size: 24px;*/
   /*color: #fff;*/
   /*background-color: #1da1f3;*/
   /*border-radius: 100%;*/
   /*box-sizing: border-box;*/
   background-color: #1da1f3;
   color: #ffffff;
   display: inline-block;
   width: 84px;
   text-align: center;
   border-radius: 50%;
}

.current span {
   line-height: 0;
}

.wx_yy_date_time>a {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 84px;
   line-height: 84px;
   padding: 60px 24px;
   font-size: 28px;
   background-color: #fff;
   border-bottom: 1px solid #ececec;
}

.doc_scheduling .wx_yy_date_time_item>span {
   color: #1da1f3;
}

.doc_scheduling .wx_yy_date_time_item>span label {
   color: #333333;
}

.yy_date a span {
   display: block;
}

.yy_date a.current,
.yy_date a.state_kyy {
   color: #fff;
   background-color: #1da1f3;
}

.yy_date a span.date {
   font-size: 28px;
}

/*  */

.wx_dropdown_date_time>span {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 140px;
   line-height: 50px;
   padding: 0 24px;
   font-size: 28px;
   background-color: #fff;
   border-bottom: 1px solid #ececec;
}

.wx_residue_num {
   position: relative;
}

.wx_residue_num span {
   padding: 6px 16px;
   font-size: 26px;
   color: #fff;
   border-radius: 10px;
   background-color: #1da1f3;
   margin-top: 20px;
   width: 120px;
}

.wx_list_num {
   width: 100px;
   text-align: center;
   color: #fff;
   height: 44px;
   border-radius: 10px;
   background-color: #1da1f3;
   line-height: 45px;
}

.wx_list_null {
   width: 100px;
   text-align: center;
   height: 44px;
   border-radius: 10px;
   color: #b6b6b6;
   background-color: #ededed;
   line-height: 45px;
}

.wx_residue_null {
   background-color: #969696
}


.doc_scheduling .headname .levle{
   padding-left: 4px;
   top: 8px;
}