.doc_scheduling .doc_info {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: 24px;
   font-size: 28px;
   color: #858585;
   background-color: #fff;
   border-bottom: 1px solid #e5e5e5;
}
.doc_scheduling .doc_info:first-child{
   border-bottom: none;
}
.doc_scheduling .doc_info:nth-child(2){
   margin-top: -36px;
}

.doc_scheduling .pic,
.doc_scheduling .pic img {
   display: inline-block;
   width: 102px;
   height: 102px;
   border-radius: 50%;
}

.doc_scheduling .doc_info .detail {
   /* width: 68%; */
   flex: 1;
   margin-left: 20px;
   position: relative;
   overflow: hidden;
}

.doc_scheduling .doc_info .name {
   color:  var(--primary--title);
}
.doc_scheduling .doc_info p {
   margin-bottom: 10px;
   width: 100%;
   margin-top: 10px;
   line-height: 40px;
   text-align: justify;
   color:var(--primary--right) ;
   /* white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   overflow: hidden; */
}

/* /介绍 */

.doc_scheduling .doc_introduce {
   width: 100%;
   border-bottom: 1px solid #e5e5e5;
   background-color: #fff;
   padding: 20px 24px;
}

.doc_introduce .title {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 28px;
}

.doc_introduce .i_info {
   width: 32px;
   height: 32px;
   vertical-align: middle;
   background: url(./info.png) no-repeat;
   background-size: 100% auto;
   margin-right: 10px;
}

.doc_introduce .title .doc_info_txt {
   display: inline-block;
   width: 76%;
   flex: 1;
}

.doc_introduce .doc_open_btn {
   color: var(--primary--title);
}

.doc_introduce .doc_open_btn .i_open {
   width: 18px;
   height: 18px;
   margin-left: 10px;
   border-top: 2px solid var(--primary--title);
   border-left: 2px solid var(--primary--title);
   -webkit-transform: rotate(-135deg);
   transform: rotate(-135deg);
   vertical-align: middle;
   margin-top: -18px;
   display: inline-block;
   position: relative;
   top: 4px;
}

.doc_introduce .doc_open_btn .nomore {
   transform: rotate(180deg);
   margin-top: 0px;
}

.doc_detail {
   display: block;
   padding: 20px 24px;
   height: auto;
   line-height: 44px;
   color: var(--primary--right);
   font-size: 28px;
   overflow: hidden;
   background-color: #fff;
}

.doc_scheduling .line {
   content: '';
   display: block;
   width: 100%;
   height: 10px;
}

.doc_scheduling .yy_date_today {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 24px;
   height: 80px;
   font-size: 28px;
   border-top: 1px solid #e5e5e5;
   border-bottom: 1px solid #e5e5e5;
   background-color: #fff;
}

/*  */

.current {
   /*display: inline-block;*/
   /*width: 80px;*/
   /*height: 80px;*/
   /*padding: 2px 0 0;*/
   /*text-align: center;*/
   /*font-size: 24px;*/
   /*color: #fff;*/
   /*background-color: var(--primary);*/
   /*border-radius: 100%;*/
   /*box-sizing: border-box;*/
   background-color: var(--primary);
   color: #ffffff;
   display: inline-block;
   width: 84px;
   text-align: center;
   border-radius: 50%;
}

.current span {
   line-height: 0;
}

.wx_yy_date_time>a {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 84px;
   line-height: 84px;
   padding: 60px 24px;
   font-size: 28px;
   background-color: #fff;
   border-bottom: 1px solid #ececec;
}

.doc_scheduling .wx_yy_date_time_item>span {
   color: var(--primary);
}

.doc_scheduling .wx_yy_date_time_item>span label {
   color:  var(--primary--title);
}

.yy_date a span {
   display: block;
}

.yy_date a.current,
.yy_date a.state_kyy {
   color: #fff;
   background-color: var(--primary);
}

.yy_date a span.date {
   font-size: 28px;
}

/*  */

.wx_dropdown_date_time>span {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 140px;
   line-height: 50px;
   padding: 0 24px;
   font-size: 28px;
   background-color: #fff;
   border-bottom: 1px solid #ececec;
}

.wx_residue_num {
   position: relative;
}

.wx_residue_num span {
   padding: 6px 16px;
   font-size: 26px;
   color: #fff;
   border-radius: 10px;
   background-color: var(--primary);
   margin-top: 20px;
   width: 120px;
}

.wx_list_num {
   width: 100px;
   text-align: center;
   color: #fff;
   height: 44px;
   border-radius: 10px;
   background-color: var(--primary);
   line-height: 45px;
}

.wx_list_null {
   width: 100px;
   text-align: center;
   height: 44px;
   border-radius: 10px;
   color:#ffffff;
   background-color:  var(--primary--light);
   line-height: 45px;
}

.wx_residue_null {
   background-color: var(--primary--light)
}


/*.doc_scheduling .headname .levle {*/
   /*font-size: 22px;*/
   /*border: 2px solid rgb(29, 161, 243);*/
   /*border-radius: 8px;*/
   /*color: rgb(29, 161, 243);*/
   /*margin-left: 10px;*/
   /*display: inline-block;*/
   /*height: 44px;*/
   /*padding: 2px 12px;*/
   /*line-height: 44px;*/
   /*position: relative;*/
   /*top: -3px;*/
/*}*/

.doc_scheduling .yy_date_today .time_btn {
   display: inline-block;
   width: 28px;
   height: 28px;
   margin-left: 0.05rem;
   background: url(../../assets/images/icon5.png) no-repeat;
   background-size: 100% auto;
   vertical-align: text-bottom;
   transform: rotate(180deg);
}
.doc_scheduling .yy_date_today  .time_btn_up {
   /* transform: rotate(180deg); */
   transform: rotate(0deg);
}
.openUp img{
   width: 24px;
   position: relative;
   top: -2px;
}