 .doctor-head {
    width: 100%;
    background: url(./bg.png) no-repeat;
    height: 370px;
    color: #fff;
    font-size: 28px;
 }

 .doctor-info .header {
    width: 140px;
    position: absolute;
    margin-top: 40px;
 }

 .doctor-info .doctor-name {
    font-weight: 600;
    font-size: 45px;
 }

 .doctor-info .header img {
    width: 100%;
    border-radius: 50%;
 }

 .doctor-info .content {
    /*height: 40px;*/
    opacity: 0.7;
    display: -webkit-box;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
 }

 .doctor-info .open {
    /* position: absolute;
    right: 20px;
    top: 277px;
    background: linear-gradient(to right, rgba(118, 186, 250, 0.349), rgb(2, 105, 202));
    width: 100px; */
    text-align: right;
    padding: 0 5px;
 }

 .doctor-info .doctor-right {
    padding: 40px 0px 30px 168px;
 }

 .describ {
    background: #ffffff;
    color: black;
    padding: 20px;
    border-radius: 20px;
 }

 .doctorinfo .available-info .available-tag {
    background: #1da1f3;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 30px;
    border: none
 }

 .doctordetal {
    background: #ffffff;
 }

 .doctorinfo .doctordetal {
    position: relative;
    top: -120px;
    border-radius: 50px;
    padding: 30px 0;
 }

 .available-info .colo13 {
    text-align: center
 }

 .doctordetal {
    box-shadow: 0 0 17px #c8dff7
 }

 .available-info li:last-child {
    border: none;
    /* padding-bottom: 30px; */
 }

 .home-article-combo--slogan {
    position: relative;
    width: 100%;
    line-height: 40px;
    margin: 10px 0 40px;
    text-align: center;
    font-size: 28px;
    color: #c4c5ce;
 }

 .home-article-combo--slogan:after,
 .home-article-combo--slogan:before {
    content: "";
    position: absolute;
    top: 20px;
    width: 194px;
    height: 2px;
    background-color: #ebecf1;
 }

 .home-article-combo--slogan:after {
    right: 50%;
    margin-right: -270px;
 }

 .home-article-combo--slogan:before {
    left: 50%;
    margin-left: -270px;
 }