/*.doctorschedu .doctor-head {*/
    /*width: 100%;*/
    /*background: url(./bg.png) no-repeat;*/
    /*color: #fff;*/
    /*font-size: 28px;*/
/*}*/
.doctorschedu .doctor-info{
    display: flex;
    justify-content: flex-start;
    padding-top: 32px;
}
.doctorschedu .doctor-info .header {
    width: 140px;
}
.doctorschedu .doctor-info .doctor-right {
    margin: 28px 0 0 18px;
}
.doctorschedu .doctor-info .doctor-name {
    font-weight: 600;
    font-size: 36px;
}
.doctorschedu .doctor-info .header img {
    width: 100%;
    border-radius: 50%;
}
.doctorschedu  .doctor-head{
    height:auto;
}

.doctorschedu .ismore{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    padding-bottom: 6px;
}

.yy_dateAA {
    height: auto;
}
.doctorschedu .open{
    text-align: right;
}
.doctorschedu .content{
    padding: 14px 0;
    line-height: 42px;
    text-align: justify;
}
.doctorschedu .content p:first-child{
    padding-bottom: 16px;
}
#app .doctorschedu .wh_content_all{
    background-color: transparent;
}
#app .doctorschedu .wh_item_date,
#app .doctorschedu .wh_top_tag,
#app .doctorschedu .wh_top_changge li{
    color:  var(--primary--title);
    width: 64px;
    height: 64px;
}
#app .doctorschedu .wh_jiantou1{
    border-top: 4px solid  var(--primary--title);
    border-left: 4px solid  var(--primary--title);
    position: relative;
    left: 116px;
}
#app .doctorschedu .wh_jiantou2{
    border-top: 4px solid #333 ;
    border-right: 4px solid #333;
    position: relative;
    right: 116px;
}
#app .doctorschedu .wh_content{
    margin-left: 22px;
}
#app .doctorschedu .wh_content_item{
    height: 100px;
}
#app .doctorschedu .wh_content_item .wh_isToday{
    background-color: var(--primary);
    color: #ffffff;
}
#app .doctorschedu .wh_content_item .wh_chose_day{
    background-color: #e5e5e5;
}
.doctorschedu .hospital{
    padding: 10px 0;
}



.doctorschedu .doc_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 24px;
    font-size: 28px;
    color: #858585;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
}
.doctorschedu .doc_info:first-child{
    border-bottom: none;
}
.doctorschedu .doc_info:nth-child(2){
    margin-top: -36px;
}

.doctorschedu .pic,
.doctorschedu .pic img {
    display: inline-block;
    width: 102px;
    height: 102px;
    border-radius: 50%;
}

.doctorschedu .doc_info .detail {
    flex: 1;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
}

.doctorschedu .doc_info .name {
    color:  var(--primary--title);
}
.doctorschedu .doc_info p {
    margin-bottom: 10px;
    width: 100%;
    margin-top: 10px;
    line-height: 40px;
    text-align: justify;
    color:var(--primary--right) ;
}

/* /介绍 */

.doctorschedu .doc_introduce {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
    padding: 20px 24px;
}
