.selectTool{
  display:flex;
}
.selectTool div{
  width:33.33%;
  height: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin:20px;
  overflow: hidden;
}
.selectTool .isActive {
    color: #24a5f1;
}
.selectTool div span:nth-of-type(1){
    display:inline-block;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.fast-consult-card-item .bottom {
    border-bottom: 1px solid #ebecf1;
 }
 
 .fast-consult-card-item .bottom>img {
    display: block;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 50%;
 }
 
 .fast-consult-card-item .bottom .fast-consult-card-item--content {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 28px;
    color: #28354c;
 }
 
 .fast-consult-card-item .fast-consult-card-item--content .fast-consult-card-item--content-title {
    margin-bottom: 40px;
    padding-right: 30px;
 }
 .comment-info em {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    font-size: 28px;
    font-style: normal;
    color: #fff;
    background: #979797;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
 }
 .comment-info p {
    line-height: 50px;
 }
 
 .comment-info .name {
    font-size: 32px;
 }