.online {
   color: #323232;
}

.online h2 {
   font-size: 32px;
   line-height: 50px;
}

.online .tools {
   background-color: #fff;
   margin: 30px 0;
   border-radius: 20px;
   position: relative;
}

.online .nav2 {
   display: -webkit-box;
   display: flex;
   display: -webkit-flex;
   text-align: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
}

.online .more {
   width: 100%;
   text-align: center;
   padding: 10px 0;
   color: var(--primary);
}

.nomore {
   color: #999;
   font-size: 24px;
}

.online .more img {
   width: 30px;
   display: inline-block;
   vertical-align: middle;
   margin-left: 10px;
}

.online .tools .nav2>span {
   width: 25%;
   display: block;
   font-size: 28px;
   color: #323232;
   /* font-weight: 600; */
}

.online .nav2>span {
   padding: 20px 0 20px;
}

.online .nav2>span img {
   width: 60px;
   height: 60px;
   display: block;
   margin: 0 auto 12px;
}

.tabA {
   background: #ffffff;
   display: flex;
   justify-content: center;
   align-items: center;
   letter-spacing: 1px;
   margin-bottom: 20px;
}

.tabA .tabAdiv {
   box-shadow: 0 5px 10px rgba(20, 19, 51, .1);
   flex: 1;
   height: 120px;
   background: #ffffff;
   margin: 20px;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.online .tabAdiv div:first-child {
   width: 60%;
   line-height: 120px;
   text-align: left;
   font-size: 28px;
   display: inline-block;
   margin-left: 30px
}

.tabAdivright {
   width: 40%;
   text-align: right;
   margin-right: 30px
}

.tabAdivright img {
   width: 70%;
   line-height: 120px;
}

.yaobutton {
   display: flex;
   justify-content: center;
   align-items: center;
   letter-spacing: 1px;
}

.yaobutton div {
   flex: 1;
   height: 50px;
   margin: 20px;
   border-radius: 10px;
   text-align: center;
}

.yaoActive {
   color: #24a5f1;
}

.onlineheader {
   height: 100px;
   text-align: center;
   line-height: 100px;
   font-size: 34px;
}

.components-mask {
   z-index: 1103;
   /* position: fixed; */
}

.online-mask {
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   position: absolute;
   pointer-events: auto;
   z-index: 1;
   background-color: rgba(37, 38, 45, .7);
}

.online-content {
   position: relative;
   height: calc(100vh - 290px);
   overflow-y: auto;
}

.online-content::-webkit-scrollbar {
   display: none;
}

.loadmore {
   display: flex;
   height: 80px;
   align-items: center;
   justify-content: center;
}