.alltimeball {
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.cardwrite {
   margin-top: 30px;
}

.alltimeball span {
   line-height: 70px;
   letter-spacing: 2px;
   text-align: center;
   color:  var(--primary--content);
}

.alltimeball .acitivestep {
   color: var(--primary);
}

.box-timeline .timeball {
   width: 100px;
   height: 100px;
   background: #e1e1e1;
   border-radius: 50%;
   color: #acacac;
   font-size: 38px;
   font-weight: 700;
   text-align: center;
   line-height: 100px;
}

.box-timeline .acitiveball {
   background: var(--primary);
   color: #ffffff;
}

.timeballline {
   background: var(--primary);
   width: 27%;
   height: 3px;
   position: relative;
   top: -120px;
   left: 97px;
}

.timeballline2 {
   background: #e1e1e1;
   width: 27%;
   height: 3px;
   position: relative;
   top: -122px;
   left: 58.4%;
}

.acitiveline {
   background: var(--primary);
}

.flexF {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   color:  var(--primary--title);
}

.flexR {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.content .login-box .login-box-div {
   display: flex;
   width: 100%;
   height: 100px;
   position: relative;
   border-bottom: 2px solid rgba(227, 229, 234, 0.514);
}

.content .login-box .login-box-div:last-child {
   border-bottom: none;
   line-height: 100px;
}

.content .login-box {
   width: 100%;
   height: auto;
}

.content .login-box .hq p .send1 {
   width: 100%;
   height: 50px;
   font-size: 26px;
   border: 2px solid #2aa4f3;
   border-radius: 10px;
   padding: 0 10px;
   color: #2aa4f3;
   display: flex;
   justify-content: center;
   align-items: center;
}

.content .login-box div input {
   flex: 4;
   height: 100%;
   border: none;
   font-size: 28px;
   color: #111a34;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
   margin-bottom: 0;
   background: transparent;
}

.content .login-box div input::-webkit-input-placeholder {
   color: #c5cad5;
   font-size: 28px;
 }
.md-stepper-number input {
   padding-left: 0 !important
}