.adress .card {
   box-shadow: 0 0 17px  var(--primary--line);
   margin-top: 20px;
}

.adress {
   width: 100%;
   height: 100%;
}

.order-number {
   display: flex;
   justify-content: space-between;
   font-size: 30px;
}
.adress .addImg {
   display: flex;
   align-items: center;
   padding-top:24px;
   line-height: 40px;
}
.adress .addImg .reciverInfo{
   margin-left: 20px;
}
.adress .addImg .reciverInfo div:nth-child(2){
   text-align: justify;
   margin-top: 14px;
}
/*.adress .selectIcon{*/
   /*position: relative;*/
   /*top: 12px;*/
/*}*/
.order-bottom {
   font-size: 26px;
   text-align: right;
   padding-bottom: 12px;
}

.adress .card {
   padding: 20px
}

.adress .bianji {
   font-size: 26px;
   color: var(--primary)
}

.lajitong {
   margin-left: 34px;
   position: relative;
   top: 5px;
   width: 30px;
}

.adress .md-radio {
   line-height: 1;
   margin-top: inherit;
   margin-bottom: inherit;
}
.adress .md-radio.is-checked .md-radio-icon {
   color: var(--primary);
}
.adress .flatCard{
   border-top: none;
}