nput {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font-weight: normal;
   vertical-align: baseline;
}

.workdoctor .workdoctorserach .oc_val {
   /* position: fixed; */
   width: 100%;
   height: 90px;
   border-radius: 10px;
   left: 0;
   right: 0;
   margin: 0 auto;
   padding-left: 70px;
   background: #f0f3fa url(../result/search.png) 3% 50% no-repeat !important;
   background-size: auto 50% !important;
   opacity: 1;
   outline: none;
   font-size: 24px !important;
   color: #000;
   z-index: 999;
}

.workdoctor .mu-sub-header {
   font-size: 28px;
   color: #1da1f3;
}

.workdoctor .holder img {
   height: 92px;
   width: 92px;
   border-radius: 50%;
}

.workdoctor .departLi2 {
   width: 100%;
   float: left;
   border-bottom: 1px solid #ededed;
}

.workdoctor .grid-cell2 {
   line-height: 50px;
   margin: 0 12px;
}

.workdoctor .mubadge {
   font-size: 10px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   padding: 0 6px;
   line-height: 1.5;
   font-size: 12px;
   font-style: normal;
   background-color: #bdbdbd;
   color: #e01212;
   border-radius: 3px;
   overflow: hidden;
   border: 1px solid #bdbdbd;
}

.yy_date {
   width: 100%;
   height: 98px;
   overflow: hidden;
   font-size: 0;
   border-bottom: 1px solid #ececec;
   background-color: #fff;
}

.yy_dateAA {
   height: auto;
}

.yy_date_today {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 24px;
   height: 80px;
   font-size: 14px;
   border-top: 1px solid #e5e5e5;
   border-bottom: 1px solid #e5e5e5;
   background-color: #fff;
}

.yy_date_today a {
   font-size: 12px;
   color: #24a5f1;
}

.yy_date_wrap .wx_week {
   height: 72px;
   overflow: hidden;
   font-size: 0;
   border-bottom: 1px solid #e5e5e5;
}

.yy_date_wrap .wx_week a {
   display: inline-block;
   width: 14.2%;
   padding: 20px 0;
   font-size: 24px;
   text-align: center;
   color: #1c1c1c;
}

.yy_date>div {
   display: inline-block;
   width: 14.2%;
   height: 96px;
   padding: 10px 0;
   font-size: 0;
   text-align: center;
}

.yy_date .state_full {
   display: inline-block;
   width: 80px;
   height: 80px;
   padding: 4px 0 0;
   text-align: center;
   font-size: 24px;
   color: #8b8b8b;
   border-radius: 100%;
   box-sizing: border-box;
}

/*没号 、已满*/

 

.yy_date .state_full span {
   display: block;
}

.yy_date .state_full span .date {
   font-size: 28px;
}

 

.yy_date_today .time_btn {
   display: inline-block;
   width: 28px;
   height: 28px;
   margin-left: 0.05rem;
   background: url(../../assets/images/icon5.png) no-repeat;
   background-size: 100% auto;
   vertical-align: text-bottom;
}

.tinmup {
   transform: rotate(180deg);
}

.tinmdown {
   transform: rotate(0deg);
}

/*今天*/

.yy_date .state_full.state_today {
   color: #fff;
   background-color: #f6a120;
}

.yy_date {
   width: 100%;
   height: 98px;
   overflow: hidden;
   font-size: 0;
   border-bottom: 1px solid #ececec;
   background-color: #fff;
}

.yy_dateAA {
   height: auto;
}

.yy_date_today {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 24px;
   height: 80px;
   font-size: 14px;
   border-top: 1px solid #e5e5e5;
   border-bottom: 1px solid #e5e5e5;
   background-color: #fff;
}

.yy_date .state_full {
   display: inline-block;
   width: 80px;
   height: 80px;
   padding: 4px 0 0;
   text-align: center;
   font-size: 24px;
   color: #8b8b8b;
   border-radius: 100%;
   box-sizing: border-box;
}

.yy_date_today a {
   font-size: 24px;
   color: #24a5f1;
}

.yy_date_wrap .wx_week {
   height: 72px;
   overflow: hidden;
   font-size: 0;
   border-bottom: 1px solid #e5e5e5;
}

.yy_date_wrap .wx_week a {
   display: inline-block;
   width: 14.2%;
   padding: 20px 0;
   font-size: 24px;
   text-align: center;
   color: #1c1c1c;
}

.yy_date>div {
   display: inline-block;
   width: 14.2%;
   height: 96px;
   padding: 10px 0;
   font-size: 0;
   text-align: center;
}

.tinmup {
   transform: rotate(180deg);
}

.tinmdown {
   transform: rotate(0deg);
}

/*选中、可预约*/

.yy_date .current,
.yy_date .state_kyy {
   color: #fff;
   background-color: #24a5f1;
}
.yy_date .have {
   color: #24a5f1;
}