.medicalEva .small-icon {
    width: 60% !important;
    height: 60% !important;
    vertical-align: baseline !important;
}
 .medicalEva .diy-box {
    display: inline-block;
    margin-left: 20px;
    height: 56px;
    line-height: 78px;
}
 .medicalEva .star{
    display: flex;
}
 .medicalEva .star span{
    height: 80px;
    line-height: 80px;
    white-space: nowrap;
    padding-top: 2px;
}
.medicalEva .star-box{
    width: 58px !important;
    height: 58px !important;
}
 .medicalEva .rater-item{
     margin: -4px;
 }
 .medicalEva .md-example-child-reader .image-reader-list {
    float: left;
    width: 100%;
}
 .medicalEva .image-reader-item{
    position: relative;
    float:left;
    width: 23.5%;
    padding-bottom :23.5%;
    margin: 0 2% 2% 0;
    background :#FFF;
    box-shadow: 0 5px 20px rgba(197, 202, 213, .25);
    box-sizing: border-box;
    list-style :none;
    border-radius: 4px;
    background-size: cover;
    overflow :hidden;
}
 .medicalEva .add .md-icon {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .5;
}
 .medicalEva .p {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    margin-top: 15px;
    font-size: 22px;
    color: #CCC;
    text-align: center;
}
 .medicalEva .image-reader-item-del{
    position :absolute;
    top: 0;
    right: 0;
    z-index :3;
    opacity :.8;
}
.medicalEva .evaFooter{
    display: flex;
    justify-content: space-between;
}
.medicalEva .evaFooter span{
    padding-top: 14px;
    color: #979797;
}
 .medicalEva .primary{
     background-color: #1da1f3 !important;
     color:#fff !important;
     font-size: 28px;
     margin: 86px 0px 46px 0px;
 }
.medicalEva .image-reader-item{
     /*width: 30.5%;*/
    width: 200px;
    height: 200px;
 }
.medicalEva .image-reader-item:nth-child(3n){
    margin-right: 0 !important;
}
.medicalEva .rater-box{
    line-height: 100px;
}