 .small-icon {
    width: 60% !important;
    height: 60% !important;
    vertical-align: baseline !important;
}
.diy-box {
    display: inline-block;
    margin-left: 20px;
    height: 56px;
    line-height: 78px;
}
.star{
    display: flex;
}
.star span{
    height: 80px;
    line-height: 80px;
    white-space: nowrap;
}
.star-box{
    width: 58px !important;
    height: 58px !important;
}
 .rater-item{
     margin: -4px;
 }
.md-example-child-reader .image-reader-list {
    float: left;
    width: 100%;
}
.image-reader-item{
    position: relative;
    float :left;
    width: 23.5%;
    padding-bottom :23.5%;
    margin-bottom: 2%;
    margin-right :2%;
    background :#FFF;
    box-shadow: 0 5px 20px rgba(197, 202, 213, .25);
    box-sizing: border-box;
    list-style :none;
    border-radius: 4px;
    background-size: cover;
    overflow :hidden;
}
.add .md-icon {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .5;
}
.p {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: 15px;
    font-size: 22px;
    color: #CCC;
    text-align: center;
}

.image-reader-item-del{
    position :absolute;
    top: 0;
    right: 0;
    z-index :3;
    opacity :.8;
}
.evaFooter{
    display: flex;
    justify-content: space-between;
}
.evaFooter span{
    padding-top: 14px;
    color: #979797;
}
 .medicalEva .primary{
     background-color: #1da1f3 !important;
     color:#fff !important;
     font-size: 28px;
     margin: 86px 0px 46px 0px;
 }
 .image-reader-item{
     width: 30.5%;
 }