.online {
   color: #323232;
}

.online h2 {
   font-size: 32px;
   line-height: 50px;
}

.online .tools {
   background-color: #fff;
   margin: 30px 0;
   border-radius: 20px;
   position: relative;
}

.online .nav2 {
   display: -webkit-box;
   display: flex;
   display: -webkit-flex;
   text-align: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
}

.online .downtitle {
   /* width: 100px;
   overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical !important;
   text-overflow: ellipsis;
   height: 28px;
   line-height: 1; */
}

.online .tools .nav2>span {
   width: 25%;
   display: block;
   font-size: 28px;
   color: #323232;
   /* font-weight: 600; */
}

.online .nav2>span {
   padding: 20px 0 20px;
}

.online .nav2>span img {
   width: 60px;
   height: 60px;
   display: block;
   margin: 0 auto 12px;
}

.tabA {
   background: #ffffff;
   display: flex;
   justify-content: center;
   align-items: center;
   letter-spacing: 1px;
   margin-bottom: 20px;
}

.tabA .tabAdiv {
   box-shadow: 0 10px 30px rgb(228, 227, 227);
   flex: 1;
   height: 120px;
   background: #ffffff;
   margin: 20px;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.tabAdiv div:first-child {
   width: 60%;
   line-height: 120px;
   text-align: center;
   font-size: 28px;
   display: inline-block;
}

.tabAdivright {
   width: 40%;
   text-align: right;
   margin-right: 20px
}

.tabAdivright img {
   width: 70%;
   line-height: 120px;
}

.yaobutton {
   display: flex;
   justify-content: center;
   align-items: center;
   letter-spacing: 1px;
}

.yaobutton div {
   flex: 1;
   height: 50px;
   margin: 20px;
   border-radius: 10px;
   text-align: center;
}

.yaoActive {
   color: #24a5f1;
}

.fast-consult-card-item .bottom {
   border-bottom: 1px solid #ebecf1;
}

.fast-consult-card-item .bottom>img {
   display: block;
   width: 100px;
   height: 100px;
   margin-right: 20px;
   border-radius: 50%;
}

.fast-consult-card-item .bottom .fast-consult-card-item--content {
   position: relative;
   -webkit-box-flex: 1;
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
   font-size: 28px;
   color: #28354c;
}

.fast-consult-card-item .fast-consult-card-item--content .fast-consult-card-item--content-title {
   margin-bottom: 40px;
   padding-right: 30px;
}

.comment-info em {
   position: absolute;
   top: 0;
   right: 0;
   height: 40px;
   line-height: 40px;
   padding: 0 20px;
   font-size: 28px;
   font-style: normal;
   color: #fff;
   background: #979797;
   border-top-right-radius: 15px;
   border-bottom-left-radius: 15px;
}

.onlineheader {
   height: 100px;
   text-align: center;
   line-height: 100px;
}

.online .comment-info p {
   line-height: 50px;
}

.online .comment-info .name {
   font-size: 32px;
}

.online .picture {
   border: 1px solid #24a5f1;
   padding: 1px 10px;
   border-radius: 7px;
   color: #24a5f1;
}

.online .video {
   border: 1px solid #979797;
   padding: 1px 10px;
   border-radius: 7px;
   color: #979797;
}

.online .comment-info .price {
   color: #24a5f1;
   font-weight: 500;
   letter-spacing: 1px;
}

.online .comment-info:last-child {
   border: none;
}

.components-mask {
   z-index: 1103;
   /* position: fixed; */
}

.online-mask {
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   position: absolute;
   pointer-events: auto;
   z-index: 1;
   background-color: rgba(37, 38, 45, .7);
}

.md-popup-box {
   position: relative;
   pointer-events: auto;
   z-index: 2;
   max-width: 100%;
   max-height: 100%;
   overflow: auto;
}

.components-screenbox {
   height: 650px;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   position: relative;
   z-index: 21;
   background: #ffffff;
   justify-content: flex-end;
}

.components-screenbox ul {
   height: 100%;
   overflow-y: auto;
   overflow-x: hidden;
   -webkit-overflow-scrolling: touch;
}

.components-screenbox ul .components-screenbox--item {
   padding: 30px 24px 16px;
   border-bottom: 1px solid #ebecf1;
}

.components-screenbox ul .components-screenbox--item h3 {
   height: 44px;
   font-size: 28px;
   font-weight: 400;
   margin-bottom: 26px;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.components-screenbox ul .components-screenbox--item .components-screenbox--other span.tag,
.components-screenbox ul .components-screenbox--item h3 span.tag {
   display: inline-block;
   min-width: 102px;
   height: 54px;
   text-align: center;
   line-height: 54px;
   padding-left: 20px;
   padding-right: 20px;
   background-color: #f5f6f6;
   color: #83889a;
   border-radius: 200px;
   margin-right: 20px;
   margin-bottom: 20px;
}

.components-screenbox .components-screenbox--btn-group {
   height: 120px;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
}

.components-screenbox ul .components-screenbox--item:last-child {
   border-bottom: 0;
}

.components-screenbox .components-screenbox--btn-group a.components-screenbox-reset {
   color: #24a5f1;
   background-color: #fff;
   border-top: 1px solid #ebecf1
}

.components-screenbox .components-screenbox--btn-group a {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-flex: 1;
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
   font-size: 29px;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

.components-screenbox .components-screenbox--btn-group a {
   display: block;
   height: 100%;
   line-height: 100px;
   text-align: center;
}

.components-screenbox .components-screenbox--btn-group a.components-screenbox-confirm {
   color: #fff;
   background-color: #24a5f1;
}

.components-screenbox ul .components-screenbox--item .components-screenbox--other span.tag.chosen-condition,
.components-screenbox ul .components-screenbox--item h3 span.tag.chosen-condition {
   background-color: #24a5f1;
   color: #fff;
}

.md-popup .md-action-sheet-content {
   text-align: left;
   font-size: 28px
}

.md-popup-title-bar {
   position: relative;
   width: 100%;
   height: 1.2rem;
   background-color: #f9fafb;
   border-radius: 0.08rem 0.08rem 0 0;
   overflow: hidden;
}

.md-popup-box {
   background-color: #fff;
   border-radius: 0.08rem 0.08rem 0 0;
}

.md-popup-title-bar .title-bar-left,
.md-popup-title-bar .title-bar-right {
   position: absolute;
   width: 20%;
   max-height: 1.2rem;
   font-size: 0.36rem;
   font-weight: 500;
   box-sizing: border-box;
}

.md-popup-title-bar .title-bar-title {
   width: 100%;
   padding: 0 20%;
   box-sizing: border-box;
}

.md-popup-title-bar>div {
   display: -webkit-box;
   display: -webkit-flex;
   display: flex;
   float: left;
   height: 100%;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   overflow: hidden;
   text-overflow: ellipsis;
   word-break: break-all;
   word-wrap: break-word;
   white-space: nowrap;
}