html,
body {
   width: 100%;
   height: 100%;
}

.loading-container {
   width: 100%;
   height: 100%;
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   padding-top: 50%;
}

.unit {
   text-align: center;
}

.unit p {
   margin-top: 100px;
   font-family: 'Lato', sans-serif;
   font-weight: 100;
   text-transform: uppercase;
   color: #fff;
}

.spinner {
   margin: 100px auto;
   margin-bottom: 20px;
   width: 50px;
   height: 60px;
   text-align: center;
   font-size: 10px;
}

.spinner>div {
   background-color: #2daaf8;
   height: 100%;
   width: 6px;
   display: inline-block;
   -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
   animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
   -webkit-animation-delay: -1.1s;
   animation-delay: -1.1s;
}

.spinner .rect3 {
   -webkit-animation-delay: -1.0s;
   animation-delay: -1.0s;
}

.spinner .rect4 {
   -webkit-animation-delay: -0.9s;
   animation-delay: -0.9s;
}

.spinner .rect5 {
   -webkit-animation-delay: -0.8s;
   animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
   0%,
   40%,
   100% {
      -webkit-transform: scaleY(0.4)
   }
   20% {
      -webkit-transform: scaleY(1.0)
   }
}

@keyframes stretchdelay {
   0%,
   40%,
   100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
   }
   20% {
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
   }
}