.tiptop {
   background: rgba(26, 168, 250, 0.137);
   width: 100%;
}

.tiptopwarn {
   display: flex;
   justify-content: space-between;
}

.cardmy .nocard {
   line-height: 370px;
   text-align: center;
   color: #979797
}

.tiptopwarnbtn {
   background: #24A5F1;
   margin: 10px 15px;
   color: #fff;
   border-radius: 5px;
   line-height: 2;
   padding: 0 15px;
}

.tiptopwarn2 {
   padding: 20px;
   border-bottom: 1px solid #ededed;
}

.tiptop3 {
   text-align: center
}
.cardmy .md-notice-bar{
   color: !#2f86f6
}
.warnbottitle {
   color: #979797;
   font-size: 26px;
}

.warnbot {
   color: #979797;
   font-size: 26px;
   text-indent: 2em;
   line-height: 40px;
}

.warnbottom {
   color: red;
   text-align: center;
   line-height: 100px;
}

.cardmy .md-notice-bar {
   background: transparent
}

.outCarintwarnbottom {
   position: absolute;
   bottom: 140px;
}