 .gp-order .order-info {
    margin-bottom: 20px;
    background: #fff;
    color: #83889a;
    line-height: 20px;
    font-size: 24px;
 }

 .gp-order .order-info .doctor-info {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
 }

 .g-clear:after {
    clear: both;
 }

 .g-clear:after,
 .g-clear:before {
    display: table;
    content: "";
    line-height: 0;
 }

 .gp-order .order-info .doctor-info img {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    float: left;
 }

 .gp-order .order-info .doctor-info span {
    margin-top: 24px;
    float: left;
 }

 .gp-order .order-info .doctor-info .doctor-name {
    font-size: 32px;
    margin: 24px 10px 0 20px;
 }

 .gp-order .order-info ul {
    padding: 10px 0;
 }

 .gp-order .order-info li {
    overflow: hidden;
    padding: 20px 0;
    font-size: 28px;
 }

 .gp-order .order-info li label {
    color: #a6a8b6;
    float: left;
    /* width: 160px; */
 }

 .gp-order .order-info li p {
    margin-left: 160px;
 }

 .g-arrow-d:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
 }

 .g-items li {
    line-height: 30px;
    color: #a6a8b6;
 }

 .g-arrow-r {
    border-bottom: 1px solid #ededed;
    line-height: 80px;
 }

 .gp-order .order-info .g-arrow-r {
    padding: 30px 0;
 }

 .g-arrow-r div {
    margin: 0 20px;
 }

 .bottomback {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto
 }

 .bottomback span {
    font-size: 28px;
    color: #ffffff;
    float: right;
    background: #1da1f3;
    border-radius: 40px;
    letter-spacing: 1px;
    padding: 17px 40px;
    text-align: center;
    margin-top: 40px;
    border: 2px solid #1da1f3;
 }

 .bottomback .payatnow {
    background: #ffffff;
    color: #1da1f3;
 }

 /* 
 .g-arrow-b:after,
 .g-arrow-d:after,
 .g-arrow-f:after,
 .g-arrow-r:after,
 .g-arrow-s:after,
 .g-arrow-t:after,
 .g-arrow-u:after {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    background: url(../img/arrow-right-new.png?_=c9ffe9c) no-repeat;
    background-size: 8px 14px;
    right: 2px;
    top: 50%;
    margin-top: -7px;
 } */