 .gp-order .order-info {
    margin-bottom: 20px;
    background: #fff;
    color: #979797;
    line-height: 72px;
    font-size: 24px;
 }

 .gp-order .order-info .doctor-info {
     padding-bottom: 24px;
     border-bottom: 2px solid #e9e9e9;
 }
 .gp-order .order-info .doctor-info img {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    float: left;
 }

 .gp-order .order-info .doctor-info span {
    margin-top: 24px;
     vertical-align: middle;
 }

 .gp-order .order-info .doctor-info .doctor-name {
    font-size: 32px;
    margin: 24px 10px 0 20px;
    color: #333333;
 }

 .gp-order .flatCard:first-child{
     border-top: none;
 }
 .gp-order .order-info ul {
     padding: 16px 0 0 0;
 }

 .gp-order .order-info li {
    overflow: hidden;
    padding: 8px 0;
    font-size: 28px;
 }

 .gp-order .order-info li label {
    color: #333333;
    float: left;
 }
 .g-arrow-d:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
 }
 .g-items li {
    line-height: 30px;
    color: #979797;
 }

 .g-arrow-r {
    line-height: 80px;
 }

 .gp-order .order-info .g-arrow-r {
    padding: 30px 0;
 }

 .bottomback {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto
 }

 .bottomback span {
    font-size: 28px;
    color: #ffffff;
    float: right;
    background: #1da1f3;
    border-radius: 40px;
    letter-spacing: 1px;
    padding: 17px 40px;
    text-align: center;
    margin-top: 40px;
    border: 2px solid #1da1f3;
 }

 .bottomback .payatnow {
    background: #ffffff;
    color: #1da1f3;
 }