#product-info .active {
   font-size: 1.0625rem;
   color: #1da1f3  ;
   font-family: 'PingFang-SC-Blod';
   font-weight: 600
}

#product-info .content {
   text-align: left;
}

#product-info .btn {
   /* text-align: center; */
   /* margin-top: 0.4375rem; */
   padding: 0 10px;
}

.margin64 {
   margin-top: 64px;
}

#product-info .content {
   width: 100%;
}

.cainter {
   margin: 12px;
}

.btn .abtn {
   margin-top: 30px;
}

.abtn {
   margin-top: 15px !important;
}

.drugHead {
   width: 108px;
   height: 108px;
   float: left;
}

.drugHead img {
   width: 108px;
   height: 108px;
   border-radius: 5px
}

.cainter h1 {
   font-size: 34px;
   letter-spacing: 1px;
}

.cainter p {}

.price {
   font-size: 34px;
   color: #fe3e3e;
   font-weight: 600
}

.headRight {
   width: calc(100% - 126px);
   float: right;
   text-align: left;
}

.starleft {
   width: 60%;
   float: left;
}

.dateRight {
   width: 40%;
   float: right;
   text-align: right;
   top: 10px;
   color: #999999;
   position: relative;
}

.cainterAA {
   width: 25%;
   float: left;
   text-align: center
}

.contentDrug {
   height: 130px;
}

.dateRight img {
   width: 20px;
}

.startop,
.star {
   width: 100%;
}

.startop {
   margin-top: 10px
}

.startop span {
   line-height: 30px;
   font-size: 28px;
}

.startop span:first-child {
   font-size: 30px;
}

.drugStoreName {
   margin-top: 20px;
}

.star img {
   width: 35px;
   margin-left: 15px;
}

.cainter ul li {
   display: inline-block;
   padding-bottom: 10px;
   margin-top: 10px
}

.headRightPJ {
   width: calc(100% - 111px);
}

.headRightPJ p {
   word-break: break-all;
   width: 100%;
   overflow: auto;
}

.pingjia {
   font-size: 1rem;
   padding: 0;
   float: left;
   font-weight: 400;
   line-height: 1.5rem;
   font-family: "PingFang-SC-Medium";
}

li {
   list-style: none
}

button :active {
   background: pink
}

.abtn {
   font-size: 22px;
   font-weight: 400;
   padding: 6px 16px;
   cursor: pointer;
   line-height: 43px;
   text-align: center;
   color: #1da1f3;
   border-radius: 42px;
   border: 1px solid #1da1f3;
   background: #fff;
   margin-right: 30px;
}

.abtninfo {
   font-size: 28px;
   font-weight: 400;
   line-height: 1.6;
   padding: 20px 27px;
   cursor: pointer;
   text-align: center;
   color: #333333;
   Letter-spacing: 1px;
   border-radius: 1.25rem;
   border: 1px solid #ffffff;
   background: #fff;
}

.activebtn {
   color: #1da1f3;
   box-shadow: 0 0 0.625rem rgba(79, 94, 105, 0.301);
}

.abtninfo:last-child {
   margin-right: 0;
}

.abtnBIG {
   background: #1da1f3;
   color: #ffffff;
   font-size: 28px;
   position: relative;
   /* top: 0.5625rem;
     */
   padding: 17px 29px;
}

.fenshu {
   color: #1da1f3;
   font-size: 36px;
}

.mb13 {
   margin-bottom: 0.8125rem;
}

/* d底部 */

.aui-footer {
   width: 100%;
   z-index: 100;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   padding: 10px 20px;
   background-color: #ffffff;
   position: fixed;
   bottom: 0;
}

.aui-tabBar-item {
   -webkit-box-flex: 1;
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   color: #979797;
}

.aui-tabBar-item2 {
   /* flex: 2.3; */
}

.aui-tabBar-item img {
   width: 90px;
   height: 90px;
}

.aui-tabBar-item2 .abtn {
   background: #1da1f3;
   color: #ffffff;
   font-size: 28px;
   padding: 20px 26px;
}

.aui-tabBar-item2 .car {
   background: #43484b;
   border: 1px solid #43484b;
}

.cainterSize {
   margin-top: 20px;
}

.cainterSize img {
   width: 100%;
}

.drugStoreName {
   overflow: hidden;
   white-space: nowrap;
   width: 170px;
   word-break: keep-all;
   text-overflow: ellipsis;
   display: block;
}

.swiper-container {
   margin-top: 37px;
}

/**/

.addValue {
   font-size: 30px;
   color: #333333;
   font-family: "PingFang-SC-Medium";
}

.addValue span {
   margin: 10px;
}

.addValue img {
   width: 40px;
   height: 40px;
   position: relative;
   top: 8px;
}

.staraa img {
   margin-right: 10px;
   margin-left: 0;
   margin-top: 10px;
}