.booking-index--hospitals-item {
   background: #fff;
}

.booking-index--hospitals-item div {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: start;
   -webkit-align-items: start;
   -ms-flex-align: start;
   align-items: start;
   padding: 32px 24px;
   color: var(--primary--content);
   font-size: 24px;
   margin-bottom: 12px;
}

.booking-index--hospitals-item .lv {
   color: var(--primary);
}

.booking-index--hospitals-item .sub-title span {
   margin-right: 16px;
}

.booking-index--hospitals-item .thumb {
   display: block;
   margin-right: 26px;
   position: relative;
}

.booking-index--hospitals-item .thumb img {
   display: block;
   width: 204px;
   height: 150px;
   border-radius: 4px;
}

.booking-index--hospitals-item .media {
   display: block;
   -webkit-box-flex: 1;
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
   width: 1%;
}

.booking-index--hospitals-item .title {
   position: relative;
   padding: 2px 100px 0 0;
   font-size: 28px;
   color: var(--primary--title);
   font-weight: 700;
   overflow: hidden;
   white-space: nowrap;
   margin-bottom: 20px;
   text-overflow: ellipsis;
}

.booking-index--hospitals-item .sub-title {
   padding-right: 100px;
   font-size: 24px;
   position: relative;
}

.booking-index p {
   line-height: 1;
}

.booking-index--hospitals-item .media p {
   z-index: 0;
   /* overflow: hidden; */
   /* white-space: nowrap;
   margin-bottom: 20px;
   text-overflow: ellipsis; */
   margin-bottom: 20px;
   /* line-height: 1.5 */
}

.booking-index--hospitals-item .feature {
   line-height: 1.5
}

.booking-index--hospitals-item .feature .dept:not(:last-child):after {
   content: "\3001";
}