.homePage {
   padding: 20px;
}

.font-12 {
   font-size: 12px;
}

.font-16 {
   font-size: 16px;
}

.home-flex {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.float-left {
   float: left;
}

.float-right {
   float: right;
}

.bindCard {
   height: 240px;
   text-align: center;
   line-height: 240px;
   border-radius: 20px;
   box-shadow: 0 0 17px #c8dff7;
}

.bindCard .bindCardBtn {
   padding: 17px 35px;
   background: #24A5F1;
   border-radius: 40px;
   color: #fff;
   letter-spacing: 1px;
   font-size: 30px;
}

.home-cz {
   padding: 40px 66px;
}

.home-cz li {
   text-align: center;
}

.home-cz .image {
   width: 70px;
   height: 70px
}

.image {
   width: 120px;
   height: 120px
}

.home-zy {
   max-width: 100%;
   max-height: 100%;
   /* height: 190px; */
   /* width: 100%; */
}

.home-zy img {
   width: 100%;
   height: 100%;
   border-radius: 20px;
}

.zy-text {
   margin-left: 10px;
}

.home-menu {
   padding: 20px 0;
}

.home-menu:after {
   display: block;
   content: '';
   clear: both;
}

.home-menu li {
   float: left;
   width: 25%;
   text-align: center;
   padding: 10px;
}

.home-menu li p {
   line-height: 20px
}

.home-footer {
   height: 60px;
   padding: 0 10px;
   width: calc(100% - 20px);
   border-top: 1px solid #f5f5f5;
   position: absolute;
   bottom: 0
}

.home-footer li {
   text-align: center;
}

.more {
   width: 10px;
   /* background: #f5f5f5 */
}

.homeCard {
   height: 240px;
   border-radius: 20px;
   box-shadow: 0 0 17px #c8dff7;
}

.homeCardText {
   padding: 40px;
   display: flex;
   justify-content: space-between;
}

.homeCardTextLeft {
   flex-flow: column;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.homeCardTextLeft p {}

.towma {
   flex-flow: column;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.towma img {
   width: 120px;
}

.towma {
   text-align: center;
   font-size: 26px;
}

.icon_switch {
   background: #24A5F1;
   padding: 5px 17px;
   border-radius: 40px;
   color: #fff;
   font-size: 26px;
}

.icon_switch img {
   width: 25px;
   position: relative;
   top: 4px;
   right: 5px;
}

.renzhen {
   width: 85px;
   position: relative;
   top: 5px;
   left: 10px;
}

 