.homePage {
   padding: 20px;
}

.font-12 {
   font-size: 12px;
}

.font-16 {
   font-size: 16px;
}

.home-flex {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.float-left {
   float: left;
}

.float-right {
   float: right;
}

.bindCard {
   height: 200px;
   text-align: center;
   line-height: 200px;
   border-radius: 20px;
   box-shadow: 0 0 17px #c8dff7;
}

.bindCard .bindCardBtn {
   padding: 17px 35px;
   background: #24A5F1;
   border-radius: 40px;
   color: #fff;
   letter-spacing: 1px;
   font-size: 30px;
}

.home-cz {
   padding: 20px 66px;
}

.home-cz li {
   text-align: center;
}

.image {
   width: 100px;
   height: 100px
}

.home-zy {
   height: 200px;
   width: 100%;
}

.home-zy img {
   width: 100%;
   height: 100%;
   border-radius: 20px;
}

.zy-text {
   margin-left: 10px;
}

.home-menu {
   border: 1px solid #f5f5f5;
}

.home-menu:after {
   display: block;
   content: '';
   clear: both;
}

.home-menu li {
   float: left;
   width: 25%;
   text-align: center;
   padding: 10px;
}

.home-footer {
   height: 60px;
   padding: 0 10px;
   width: calc(100% - 20px);
   border-top: 1px solid #f5f5f5;
   position: absolute;
   bottom: 0
}

.home-footer li {
   text-align: center;
}

.more {
   width: 10px;
   /* background: #f5f5f5 */
}