.aui-flexView {
   width: 100%;
   height: 100%;
   margin: 0 auto;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   overflow: hidden;
}

.aui-scrollView {
   width: 100%;
   height: 100%;
   -webkit-box-flex: 1;
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
   overflow-y: auto;
   overflow-x: hidden;
   -webkit-overflow-scrolling: touch;
   position: relative;
   margin-bottom: -1px;
   padding-top: 100px;
   padding-bottom: 100px;
}

.aui-head-yellow {
   position: relative;
   overflow: hidden;
   padding: 60px 20px 90px;
   background: #24A5F1;
}

.aui-head-box {
   width: 160px;
   margin: 0 auto;
   text-align: center;
}

.aui-head-box .aui-head-user {
   width: 160px;
   height: 160px;
}

.aui-head-box .aui-head-user img {
   width: 160px;
   height: 160px;
   display: block;
   border: none;
   border-radius: 100%;
   border: 2px solid #ffffff;
   padding: 8px;
}

.aui-head-box p {
   padding: 20px 0 20px;
   font-size: 34px;
   color: #ffffff;
   letter-spacing: 2px;
}

.gp-profile-index .tools {
   background-color: #fff;
   margin-bottom: 40px;
   border-radius: 20px;
   box-shadow: 0 0 40px rgba(131, 179, 208, 0.3);
   position: relative;
   top: -60px;
}

.gp-profile-index .nav2 {
   display: -webkit-box;
   display: flex;
   display: -webkit-flex;
   text-align: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
}

.gp-profile-index .tools h2 {
   text-align: left;
   font-size: 34px;
   color: #333333;
   margin-left: 4%;
   padding-top: 30px;
}

.gp-profile-index .tools .nav2>span {
   width: 25%;
   display: block;
   font-size: 28px;
   color: #333333;
}

.gp-profile-index .nav2>span {
   padding: 20px 0 20px;
}

.gp-profile-index .nav2>span img {
   width: 50px;
   height: 50px;
   display: block;
   margin: 0 auto 12px;
}