/* 公共样式表css */

li {
   list-style: none;
}

a {
   color: #666;
}

.clearfix::after {
   clear: both;
   content: ".";
   display: block;
   height: 0;
   visibility: hidden;
}

/* 必要布局样式css */

.aui-flexView {
   width: 100%;
   height: 100%;
   margin: 0 auto;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   overflow: hidden;
}

.aui-scrollView {
   width: 100%;
   height: 100%;
   -webkit-box-flex: 1;
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
   overflow-y: auto;
   overflow-x: hidden;
   -webkit-overflow-scrolling: touch;
   position: relative;
   margin-bottom: -1px;
   padding-top: 50px;
   padding-bottom: 50px;
}

.aui-head-yellow {
   position: relative;
   overflow: hidden;
   padding: 40px 10px;
   /* background: #4795e4; */
   background: #fff;
}

.aui-head-box {
   width: 80px;
   margin: 0 auto;
   text-align: center;
}

.aui-head-box .aui-head-user {
   width: 80px;
   height: 80px;
}

.aui-head-box .aui-head-user img {
   width: 80px;
   height: 80px;
   display: block;
   border: none;
   border-radius: 100%;
   border: 1px solid rgba(252, 145, 83, 0.164);
   padding: 4px;
}

.aui-head-box p {
   padding-top: 15px;
   font-size: 17px;
   color: #222222;
}

.aui-card-list {
   background: #fff;
}

.aui-panel-cell {
   padding: 17px 15px;
   display: -webkit-box;
   display: -webkit-flex;
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   align-items: center;
   color: #333333;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   position: relative;
}

.aui-panel-cell-bt {
   padding: 17px 15px;
   color: #e8864c;
}

.aui-panel-cell-bt:active {
   background: #fff6e3;
}

.aui-panel-cell-bd {}

.aui-panel-cell-bd h4 {
   font-weight: 400;
   font-size: 15px;
   width: auto;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   word-wrap: normal;
   word-wrap: break-word;
   word-break: break-all;
}

.aui-panel-cell-fr {
   text-align: left;
   font-size: 14px;
   color: #222222;
   padding-left: 20px;
}

.aui-card-list .aui-panel-cell:before {
   content: " ";
   position: absolute;
   bottom: -1px;
   right: 0;
   height: 1px;
   border-bottom: 1px solid #f0f3fa;
   color: #f0f3fa;
   -webkit-transform-origin: 0 0;
   transform-origin: 0 0;
   -webkit-transform: scaleY(0.5);
   transform: scaleY(0.5);
   left: 0;
}

.aui-footer {
   width: 100%;
   z-index: 100;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   padding: 7px 5px 7px 5px;
   /* background-color: #f2f0f0; */
   position: fixed;
   bottom: 0;
}

.aui-footer:after {
   content: '';
   position: absolute;
   z-index: 0;
   top: 0;
   left: 0;
   width: 100%;
   height: 1px;
   border-top: 1px solid #B2B2B2;
   -webkit-transform: scaleY(0.5);
   transform: scaleY(0.5);
   -webkit-transform-origin: 0 0;
   transform-origin: 0 0;
}

.aui-tabBar-item {
   -webkit-box-flex: 1;
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   color: #979797;
}

.aui-tabBar-item-active .aui-tabBar-item-text {
   color: #dab673;
}

.aui-tabBar-item-text {
   display: inline-block;
   font-size: 0.7rem;
   color: #929292;
   padding-top: 1px;
}

.icon {
   width: 23px;
   height: 23px;
   background-size: 23px;
   display: block;
   background-repeat: no-repeat;
}
 