.reportquery .card {
   /*padding: 0 12px;*/
   font-size: 28px;
}

.reportquery .datepick {
   display: flex;
   float: left;
   margin-left: 5%
}

.reportquery .datepick img {
   width: 24px;
   margin-left: 10px;
}

.reportqueryList {
   background: #ffffff;
   display: flex;
   height: 170px;
   margin-bottom: 20px;
}

.reportqueryName {
   background: var(--primary);
   color: #ffffff;
   width: 20%;
   line-height: 170px;
   font-size: 34px;
   text-align: center;
   border-radius: 10px 0 0 10px
}

.reportqueryContent {
   padding: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 80%;
}



.reportqueryContentRight {
   line-height: 50px;
   font-size: 28px;
}

.reportqueryContentRight p span:last-child {
   color: var(--primary--content)
}

.RightNumber {
   position: relative;
   top: -3px;
   right: 17px;
   display: inline-block;
   width: 16px;
   height: 16px;
   border-radius: 16px;
   background: #FF513A;
   text-align: center;
   font-size: 24px;
   color: #fff;
}

.ContentNumber img {
   width: 14px;
}

.reportquery .cardTextRight {
   text-align: right;
   padding-bottom: 10px;
}

.learnMore {
   text-align: right;
}

.reportquery .icon_more {
   width: 12px;
   position: relative;
   top: 2px;
   margin-left: 8px;
}

.reportquery .cardTextRight img {
   width: 14px;
   position: relative;
   top: 2px;
}

.reportquery .cardTextRig img {
   margin-top: 40px;
   width: 20px;
}
 
.reportquery .md-drop-menu-bar {
   z-index: 0;
}

.reportquery .md-field-item-content {
   min-height: 0;
   padding-top: 0;
   padding-bottom: 0;
   font-size: 28px;
}

.reportquery .md-field-item-title {
   font-size: 28px;
}

.reportquery .md-field-item-content:before {
   background: transparent
}

.reportquery .md-icon.icon-font:before {
   left: -10px;
   top: 6px;
}

.reportquery .md-field-item-control {
   font-size: 28px
}

.reportquery .timeTab {
   display: flex;
   justify-content: space-around;
   font-size: 28px;
}

.reportquery .nomore {
   text-align: center;
}

.reportquery .flatCard {
   border-radius: 15px;
}

.reportquery .flatCard:first-child {
   margin-top: 0;
}