.reportquery .card {
   /*padding: 0 12px;*/
   font-size: 28px;
}
.reportquery .datepick {
   display: flex;
   float: left;
   margin-left: 5%
}

.reportquery .datepick img {
   width: 24px;
   margin-left: 10px;
}

.reportquery .cardText {
   display: flex;
   font-size: 28px;
}

.reportquery .cardTextLeft {
   width: 100%;

}
.reportquery .cardTextRight {
   text-align: right;
   padding-bottom: 10px;
}
 .learnMore {
    height: 60px;
    text-align: right;
    margin-top: -30px;
 }
.icon_more {
   width: 12px;
   position: relative;
   top: 2px;
   margin-left: 8px;
}
.reportquery .cardTextRight img{
   width: 14px;
   /*vertical-align: middle;*/
   /*margin-left: 10px;*/
   position: relative;
   top: 2px;
}
.reportquery .cardTextRig img {
   margin-top: 40px;
   width: 20px;
}

.reportquery .md-drop-menu-bar {
   z-index: 0;
}

.reportquery .md-field-item-content {
   min-height: 0;
   padding-top: 0;
   padding-bottom: 0;
   font-size: 28px;
}

.reportquery .md-field-item-title {
   font-size: 28px;
}

.reportquery .md-field-item-content:before {
   background: transparent
}

.reportquery .md-icon.icon-font:before {
   left: -10px;
   top: 6px;
}

.reportquery .md-field-item-control {
   font-size: 28px
}
.reportquery .timeTab{
   display: flex;
   justify-content: space-around;
   font-size: 28px;
}
.reportquery .nomore{
   text-align: center;
}

 