input {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font-weight: normal;
   vertical-align: baseline;
}
.doctorList .cardText{
   padding: 24px 18px;
}
.doctorList .flatCard{
   margin-top: 12px;
}
.doctorList .tagdiv .oc_val {
   /* position: fixed; */
   width: 95%;
   height: 90px;
   border-radius: 5px;
   left: 0;
   right: 0;
   margin: 0 auto;
   padding-left: 60px;
   background: transparent url(./search.png) 5% 50% no-repeat !important;
   background-size: auto 40% !important;
   opacity: 1;
   outline: none;
   font-size: 28px !important;
   color: #000;
   /* z-index: 999; */
}

.doctorList .titleTag {
   /* line-height:90px; */
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-top: 100px;
   border-top: 1px solid #ededed;
   /* border-bottom: 1px solid #ededed */
}

.patientName {
   font-size: 34px;
}

.doctorList .tag1 {
   width: 40%;
   margin-top: 22px;
}

.doctorList .tag2 {
   width: 23%;
   margin-top: 22px;
}

.doctorList .tag3 {
   width: 37%;
}

.doctorList .tagdiv {
   display: inline-block;
   font-size: 28px;
   text-align: center;
   font-weight: 700;
   /* border-right: 1px solid #eee; */
   padding: 0 18px;
}

.doctorList .tagdiv .activeAA {
   color: #1da1f3;
}

.doctorList .tag3 .tagdiv {
   border: 0;
}

.doctorList .have {
   font-size: 28px;
   color: #ffffff;
   float: right;
   background: #1da1f3;
   border-radius: 40px;
   letter-spacing: 1px;
   width: 134px;
   text-align: center;
   padding: 12px 0;
}

.doctorList .no {
   background: #cccbcb;
}

.doctorList .line {
   width: 1px;
   background: #e9e9e9;
   height: 30px;
   margin-top: 30px;
}

.doctorList .time {
   width: 100%;
   overflow-x: scroll;
   overflow-y: hidden;
   white-space: nowrap;
   /* ul中的内容不换行 */
   background: #ffffff;
   border-bottom: 1px solid #e9e9e9;
}

.doctorList .time ul {
   margin-top: -20px;
   padding-top: 14px;
}

.doctorList .time ul li {
   display: inline-block;
   padding: 14px 0;
   width: 20%;
   text-align: center;
   color: #979797;
}

.doctorList .pt50 {
   padding-top: 100px;
}

.doctorList .time ul li p:first-child {
   font-size: 24px;
}

.doctorList .timeAcitve {
   color: #ffffff !important;
   background: #1da1f3;
}

.doctorList .butTime {
   width: 100%;
   background: #ffffff;
   /* height: 100px; */
   /* position: fixed; */
   z-index: 999;
   /* border-bottom: 1px solid #e9e9e9; */
   border-top: 1px solid #e9e9e9;
}

.doctorList .timeRight {
   width: 80%;
   float: left;
   text-align: right;
}

.doctorList .chooseTime {
   width: 20%;
   padding: 10px 0;
   text-align: center;
   float: left;
}

.afternoon {
   font-size: 28px;
   color: #979797;
   float: right;
   background: #ffffff;
   border: 2px solid #979797;
   border-radius: 60px;
   letter-spacing: 1px;
   width: 134px;
   text-align: center;
   line-height: 60px;
   margin-right: 20px;
   margin-top: 20px;
}

.afternoonActive {
   color: #1da1f3;
   border: 2px solid #1da1f3;
}

.forenoon {
   color: #1da1f3;
   font-size: 32px;
   line-height: 40px;
   padding: 30px 0 0 18px
}

.butTimeaa {
   top: 100px;
   position: fixed;
}

 
.headname {
   /*line-height: 58px;*/
   font-size: 34px;
}

.doctorList .headdesc {
   line-height: 58px;
   font-size: 28px;
   color: #979797;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   word-wrap: normal;
   word-wrap: break-word;
   word-break: break-all;
}

.doctorList .tag1 .showSelecA {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   word-wrap: normal;
   word-wrap: break-word;
   word-break: break-all;
   /* width: 95%; */
}

.doctorList .card .headimg {
   margin-right: 20px;
   top: 12px;
   position: relative;
}

.doctorList .card {
   padding: 7px 20px;
}

/*  */