#product-info .active {
   font-size: 1.0625rem;
   color: #1da1f3;
   font-family: 'PingFang-SC-Blod';
   font-weight: 600
}

input,
button,
select,
textarea {
   outline: none
}

#product-info .content {
   text-align: left;
}

#product-info .btn {
   /* text-align: center; */
   /* margin-top: 0.4375rem; */
   padding: 0 10px;
}

#product-info .aui-title {
   font-size: 36px;
   margin-left: 25%
}

.margin64 {
   margin-top: 64px;
}

#product-info .aui-center {
   margin-left: 20%;
}

#product-info .content {
   width: 100%;
}

#product-info .cainter {
   margin: 24px;
}

#product-info .btn .abtn {
   margin-top: 30px;
}

#product-info .abtn {
   margin-top: 15px !important;
}

#product-info .drugHead {
   width: 108px;
   height: 108px;
   float: left;
}

#product-info .drugHead img {
   width: 108px;
   height: 108px;
   border-radius: 10px
}

.cainter h1 {
   font-size: 34px;
   letter-spacing: 1px;
}

.cainter p {}

.price {
   font-size: 34px;
   color: #fe3e3e;
   font-weight: 600
}

.headRight {
   width: calc(100% - 126px);
   float: right;
   text-align: left;
}

.starleft {
   width: 60%;
   float: left;
}

.dateRight {
   width: 40%;
   float: right;
   text-align: right;
   top: 10px;
   color: #999999;
   position: relative;
}

.cainterAA {
   width: 25%;
   float: left;
   text-align: center
}

.contentDrug {
   height: 130px;
}

.dateRight img {
   width: 20px;
}

.startop,
.star {
   width: 100%;
}

.startop {
   margin-top: 10px
}

.startop span {
   line-height: 30px;
   font-size: 28px;
}

.startop span:first-child {
   font-size: 30px;
}

.drugStoreName {
   margin-top: 20px;
}

#product-info .star img {
   width: 35px;
   height: 35px;
   margin-right: 15px;
   float: right;
}

#product-info .cainter ul li {
   display: inline-block;
   padding-bottom: 30px;
   margin-top: 30px;
   border-bottom: 2px solid #ededed;
}

#product-info .cainter ul li:last-child {
   border-bottom: none;
}

#product-info .headRightPJ {
   width: calc(100% - 111px);
}

#product-info .headRightPJ p {
   word-break: break-all;
   width: 100%;
   overflow: auto;
}

#product-info .pingjia {
   font-size: 32px;
   padding: 0;
   float: left;
   font-weight: 400;
   /* line-height: 1.5rem; */
   font-family: "PingFang-SC-Medium";
}

li {
   list-style: none
}

button :active {
   background: pink
}

.tagsbtn .abtn {
   margin-left: 15px;
}

.abtn {
   font-size: 22px;
   font-weight: 400;
   padding: 6px 16px;
   cursor: pointer;
   line-height: 43px;
   text-align: center;
   color: #1da1f3;
   border-radius: 42px;
   border: 2px solid #1da1f3;
   background: #fff;
}

.abtninfo {
   font-size: 28px;
   font-weight: 400;
   line-height: 1.6;
   width: 180px;
   /* padding: 20px 27px; */
   height: 70px;
   cursor: pointer;
   text-align: center;
   color: #333333;
   Letter-spacing: 1px;
   border-radius: 1.25rem;
   border: 1px solid #ffffff;
   background: #fff;
}

#product-info .activebtn {
   color: #1da1f3;
   box-shadow: 0 0 17px #c8dff7
}

#product-info .abtninfo:last-child {
   margin-right: 0;
}

#product-info .abtnBIG {
   background: #1da1f3;
   color: #ffffff;
   font-size: 28px;
   position: relative;
   /* top: 0.5625rem;
     */
   padding: 17px 29px;
}

#product-info .fenshu {
   color: #1da1f3;
   font-size: 36px;
}

.mb13 {
   margin-bottom: 0.8125rem;
}

/* d底部 */

#product-info .aui-footer {
   width: 100%;
   z-index: 100;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   padding: 10px 20px;
   background-color: #ffffff;
   position: fixed;
   bottom: 0;
   flex-direction: row;
   justify-content: space-between
}

.aui-tabBar-item2 {
   top: -7px;
   position: relative;
}

.aui-tabBar-item img {
   width: 90px;
   height: 90px;
}

.aui-tabBar-item2 .abtn {
   background: #1da1f3;
   color: #ffffff;
   font-size: 28px;
   /* padding: 20px 26px; */
   width: 210px;
   height: 80px;
}

.aui-tabBar-item2 .car {
   background: #43484b;
   border: 1px solid #43484b;
   margin-right: 20px;
}

.cainterSize {
   margin-top: 20px;
}

.cainterSize img {
   width: 100%;
}

.drugStoreName {
   overflow: hidden;
   white-space: nowrap;
   width: 170px;
   word-break: keep-all;
   text-overflow: ellipsis;
   display: block;
}

.swiper-container {
   margin-top: 37px;
}

/**/

.addValue {
   font-size: 30px;
   color: #333333;
   font-family: "PingFang-SC-Medium";
}

.addValue span {
   margin: 10px;
}

.addValue img {
   width: 40px;
   height: 40px;
   position: relative;
   top: 8px;
}

.staraa img {
   margin-right: 10px;
   margin-left: 0;
   margin-top: 10px;
}

.staraa {
   display: flex;
}

.dateRight .star {
   display: block;
}