.choosedepart .xuanze {
   font-size: 30px;
   /* margin-top: 30px; */
   border-bottom: 1px solid #ededed;
   padding-bottom: 30px;
}

.choosedepart .margin20 {
   margin-top: 20px;
}

.choosedepart .cardText p {
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
}

.choosedepart .buttonDepart {
   font-size: 14px;
   padding: 0 16px;
   line-height: 36px;
   border-radius: 5px;
   background: pink;
}

.choosedepart .cardText {
   padding: 0 16px;
}

.choosedepart .departRow {
   display: flex;
}

.choosedepart .departRow span {
   width: 50%;
   font-size: 13px;
   color: #0b0b0b;
}

.choosedepart .grid-cell {
   line-height: 50px;
}

.choosedepart .mubutton {
   color: #8a8a8a;
   border-radius: 5px;
   font-size: 28px;
   width: 180px;
   text-align: center;
   /* height: 60px; */
   /* padding: 0 10px; */
   line-height: 57px;
   border: 2px solid #1da1f3;
   color: #1da1f3;
   display: inline-block;
}

.choosedepart .activebtn {
   background: #1da1f3;
   color: #ffffff;
}

.choosedepart .warn {
   font-size: 24px;
   color: #f44336;
}

.choosedepart .departLi {
   width: 100%;
   float: left;
   border-bottom: 1px solid #ededed;
}

.choosedepart .grid-cell p {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   line-height: 50px;
}

.choosedepart .aui-footer {
   width: 120px;
   z-index: 100;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   height: 120px;
   background-color: #1da1f3;
   position: fixed;
   bottom: 30px;
   text-align: center;
   color: #ffffff;
   border-radius: 50%;
   right: 24px;
   box-shadow: 2px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.choosedepart .aui-footer:after {
   border-top: none;
}

.choosedepart .aui-footer span {
   font-size: 32px;
   position: relative;
   text-align: center;
   left: 16px;
   letter-spacing: 1px;
}

/**tab样式*/
 
 

#app .choosedepart .md-cell-item-title {
   font-size: 28px;
}

/* .md-cell-item-title {
    font-size: 24px !important;
} */

input {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font-weight: normal;
   vertical-align: baseline;
}

.oc_val {
   /* position: fixed; */
   width: 100%;
   height: 80px;
   border-radius: 10px;
   left: 0;
   right: 0;
   margin: 0 auto;
   padding-left: 70px;
   background: #f0f3fa url(./search.png) 3% 50% no-repeat !important;
   background-size: auto 40% !important;
   opacity: 1;
   outline: none;
   font-size: 30px !important;
   color: #000;
   z-index: 999;
}