.choosedepart .xuanze {
   font-size: 30px;
   /* margin-top: 30px; */
   border-bottom: 1px solid var(--primary--line);
   padding: 32px 24px;
}

.choosedepart .flatCard {
   padding: 0;
}

.choosedepart .margin20 {
   margin-top: 20px;
}

.choosedepart .cardText p {
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
}

.choosedepart .buttonDepart {
   font-size: 14px;
   padding: 0 16px;
   line-height: 36px;
   border-radius: 5px;
   background: pink;
}

.choosedepart .cardText {
   padding: 0 16px;
}

.choosedepart .departRow {
   display: flex;
}

.choosedepart .departRow span {
   width: 50%;
   font-size: 13px;
   color: #0b0b0b;
}

.choosedepart .grid-cell {
   line-height: 50px;
}

.choosedepart .mubutton {
   color: #8a8a8a;
   border-radius: 5px;
   font-size: 28px;
   width: 180px;
   text-align: center;
   /* height: 60px; */
   /* padding: 0 10px; */
   line-height: 57px;
   border: 2px solid var(--primary);
   color: var(--primary);
   display: inline-block;
}

.choosedepart .activebtn {
   background: var(--primary);
   color: #ffffff;
}

.choosedepart .warn {
   font-size: 24px;
   color: #f44336;
}

.choosedepart .departLi {
   width: 100%;
   float: left;
   border-bottom: 1px solid var(--primary--line);
}

.choosedepart .grid-cell p {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   line-height: 50px;
}

.choosedepart .aui-footer {
   width: 120px;
   z-index: 100;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   height: 120px;
   background-color: var(--primary);
   position: fixed;
   bottom: 30px;
   text-align: center;
   color: #ffffff;
   border-radius: 50%;
   right: 24px;
   box-shadow: 2px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.choosedepart .aui-footer:after {
   border-top: none;
}

.choosedepart .aui-footer span {
   font-size: 32px;
   position: relative;
   text-align: center;
   left: 16px;
   letter-spacing: 1px;
}

/**tab样式*/



#app .choosedepart .md-cell-item-title {
   font-size: 28px;
}

/*.md-cell-item:last-child .md-cell-item-body:before{*/
/*background-color: transparent;*/
/*}*/

input {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font-weight: normal;
   vertical-align: baseline;
}

.oc_val {
   /* position: fixed; */
   width: 100%;
   height: 80px;
   left: 0;
   right: 0;
   margin: 0 auto;
   padding-left: 70px;
   background: #f0f3fa url("~@/assets/images/search.png") 3% 50% no-repeat !important;
   background-size: auto 40% !important;
   opacity: 1;
   outline: none;
   font-size: 30px !important;
   color: #000;
   z-index: 999;
}

.rightflatCardBtn {
   z-index: 99;
   background: #f8f8f8;
   position: fixed;
   width: 100%;
}

.rightflatCardBtnDiv {
   height: 300px;
   width: 100%;
}

 

.classification_list {
   border-top: 2px solid var(--primary--KNline)
}

.classification_list .listSuperBox {
   position: absolute;
   left: 0;
   top: 277px;
   bottom: 0;
   overflow-y: auto;
   z-index: 10;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   background: #f6f6f6;
}

.classification_list ul {
   padding: 0;
   display: block;
   min-height: initial;
   /* overflow-y: scroll; */
}

.classification_list .listSuperBox ul li a {
   background: #e9ecf1;
   display: block;
   width: 260px;
   height: 96px;
   overflow: hidden;
   line-height: 96px;
   font-size: 28px;
   color: #414141;
   text-align: left;
   text-indent: 24px;
   border-bottom: #b1b1b1 solid 1px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   /* border-right: #b1b1b1 solid 1px; */
}

.classification_list .listSuperBox ul li .list_cur {
   position: relative;
   border-left: 7px solid #1da1f3;
   border-right: none;
   background: #fff;
}



.classification_list .super_users_box {
   margin-left: 0;
   -webkit-box-flex: 1;
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
   /* width: 100%; */
   height: 100%;
   background: #fff;
   position: relative;
   margin-left: 260px;
   margin-top: 85px;
}

.classification_list .super_users_box .super_scllor {
   position: relative;
   height: 100%;
   overflow-y: auto;
   -webkit-overflow-scrolling: touch;
   margin-left: 30px;
}

.classification_list .super_users_box .super_scllor li {
   line-height: 96px;
   /* border-bottom: #b1b1b1 solid 1px; */
}